% Chapter Template

% Optional Banner if available (TODO: Generate specific banners)
% \topimage{Figures/TitleBanner.png} 

\chapter{ << chapter['title'] >> }
\label{chap:<< chapter['title']|lower|replace(' ', '-') >>}

<< chapter['content'] >>
